.container {
  position: relative;
  border-bottom: 1px solid var(--border);
  display: flex;
  align-items: center;
  transition: border-color var(--transition-standard);
}

.input__toggle {
  position: absolute;
  left: 8px;
  background: none;
  border: none;
  color: var(--icon);
  font-size: 22px;
  transform: rotate(90deg);
  transition: transform var(--transition-standard) ease,
    color var(--transition-standard);
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  padding: 0;
}

.input__toggle:hover {
  color: var(--primary);
}

.input__toggle.rotated {
  transform: rotate(-90deg);
}

.input {
  width: 100%;
  padding: 16px 16px 16px 44px;
  border: none;
  font-size: clamp(16px, 5vw, 24px);
  box-sizing: border-box;
  outline: none;
  font-weight: 300;
  color: var(--text);
  background-color: var(--surface);
  transition: color var(--transition-standard),
    background-color var(--transition-standard);
}

.input::placeholder {
  color: var(--text-dim);
  font-style: italic;
  transition: color var(--transition-standard);
  font-size: clamp(14px, 4vw, 20px);
}

.input__button {
  position: absolute;
  right: 8px;
  background: none;
  border: 1px solid var(--border);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-secondary);
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s;
  outline: none;
}

.input__button:hover {
  background-color: var(--hover);
  color: var(--primary);
  border-color: var(--primary);
}

.input__button:active {
  transform: scale(0.95);
}

@media (min-width: 600px) {
  .input__toggle {
    left: 16px;
  }

  .input {
    padding: 16px 16px 16px 60px;
  }

  .input__button {
    right: 16px;
  }
}
