.filter__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  width: 100%;
}

.filter__button {
  background: none;
  border: 1px solid transparent;
  color: var(--text-secondary);
  padding: 3px 7px;
  border-radius: 3px;
  cursor: pointer;
  transition: border-color var(--transition-standard),
    color var(--transition-standard);
}

.filter__button:hover {
  border-color: var(--accent);
}

.filter__button.active {
  border-color: var(--accent);
}

.filter__clear {
  background: none;
  border: none;
  color: var(--text-secondary);
  cursor: pointer;
  margin-top: 5px;
  transition: color var(--transition-standard);
}

.filter__clear:hover {
  text-decoration: underline;
  color: var(--text);
}

@media (min-width: 600px) {
  .filter__container {
    justify-content: flex-start;
    width: auto;
  }

  .filter__clear {
    margin-top: 0;
    margin-left: 20px;
  }
}
