.toggle__button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  transition: background-color var(--transition-standard),
    transform var(--transition-standard);
}

.toggle__button:hover {
  background-color: var(--hover);
  transform: scale(1.1);
}

.toggle__button:active {
  transform: scale(0.95);
}

@media (min-width: 600px) {
  .toggle__button {
    top: 20px;
    right: 20px;
    font-size: 24px;
    width: 40px;
    height: 40px;
  }
}
